@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*color palette
#123524
#3E7B27
#85A947
#EFE3C2
#F8F3D9
#EBE5C2
#B9B28A
#504B38
*/

:root{
    --base-clr: #123524;
    --line-clr: indigo;
    --secondarybase-clr: lavenderblush;
    --text-clr: #222533;
    --accent-clr: #EFE3C2;
    --secondary-text-clr: #123524;
    --placeholder-text-clr:#3E7B27;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: var(--text-clr);
    background-color: var(--accent-clr);
}

body{
    display: grid;
    width:100%;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--secondarybase-clr);
    color:var(--text-clr);
    grid-template-columns: auto;
    grid-template-rows: 56px 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-clr);
    color: var(--secondary-text-clr);
    height: 60px;
    width:100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.background-img{
    height:400px;
    width:100vw;
    box-sizing: border-box;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.background-img h1{
    position:relative;
    color:azure;
    text-align: center;
    font-size: 40px;
    width:1000px;
    line-height: 1.5em;
}

.background-img img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 0;
    border: none;
    margin:0;
    opacity: 1;
    filter:brightness(40%);
}

.programs-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1400px; /* Or your preferred max width */
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
}

.programs-details{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    background: var(--accent-clr);
    width:100%;
    max-width:400px;
    border-radius: 12px;
    border-top:4px solid var(--base-clr);
    border-left:1px solid var(--base-clr);
    border-right:1px solid var(--base-clr);
    border-bottom: 3px solid var(--base-clr);
}

.programs-img{
    flex-shrink:1;
    width:100%;
}

.programs-img img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 0;
    border: none;
    margin:0;
    opacity: 1;
}

.programs-desc{
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
}

.programs-desc h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    align-self: center;
    margin:0;
}

.programs-desc p{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
    height:70px;
}

.programs-desc p{
    /* do an ellipsis here when the text is too long */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 90%;
}

.programs-tags{
    display: flex;
    justify-content: left;
    gap:10px;
    padding:0 10px;
}

.programs-tags h5{
    padding:0 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    background:var(--placeholder-text-clr);
}

.programs-desc a{
    margin-left:10px;
    text-decoration: none;
    color: var(--placeholder-text-clr);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.view-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
}

.view-more-btn{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    background: rgba(239, 227, 194,0.6);
    width:160px;
    height:50px;
    border-radius: 5px;
    border:none;
    color:var(--text-clr);
}

.view-more-btn span{
    transform: translateX(5px);
    transition: .5s ease;
}

.view-more-btn span i{
    opacity: 0;
    transition:.5s ease;
    transform: translateX(-5px);
}

.view-more-btn:hover{
    > span{
    transform: translateX(0);
    }
    > span i{
    opacity:1;
    transform: translateX(0);
    }
}

@media (max-width: 800px) {
    header{
    }

    html, body {
        font-size: 14px;
    }

    .background-img{
        height: 100%;
        width:100%;
    }

    .background-img h1{
        font-size: 30px;
        width: 90%;
    }

    .view-more-btn{
        width: 100vw;
        height: 40px;
        font-size: 16px;
    }

    .programs-box{
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .searchbar{
        max-width:42px;
        outline:none;
        border: none;
        background: transparent;
        cursor:none;
        color:none;
    }

    .searchbar input{
        display: none;
    }

    .searchbar button{
        color:none;
        background: transparent;
        border: none;
        cursor: none;
        pointer-events: none;
    }

    .searchbar button i{
        display: none;
    }
}